{% extends "layout.twig" %}

{% block title %}アカウント{% endblock %}

{% block content %}
<h2>アカウント</h2>
<p>
    ユーザID: <a href="/user/{{ user.name|e }}"><strong>{{ user.name|e }}</strong></a>
</p>

<ul>
    <li>
        <a href="/">ホーム</a>
    </li>
    <li>
        <a href="/account/signout">ログアウト</a>
    </li>
</ul>

<h3>フォロー中</h3>
{% if followings|length > 0 %}
<ul>
    {% for following_user in followings %}
    <li>
        <a href="/user/{{ following_user.name|e }}">
            {{ following_user.name|e }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
