{% extends "layout.twig" %}

{% block title %}アカウント{% endblock %}

{% block content %}
<h2>アカウント</h2>
<p>
    ユーザID: <a href="/user/{{ user.name|e }}"><strong>{{ user.name|e }}</strong></a>
</p>

<ul>
    <li>
        <a href="/">ホーム</a>
    </li>
    <li>
        <a href="/account/signout">ログアウト</a>
    </li>
</ul>
{% endblock %}
