{% extends "layout.twig" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<h2>ログイン</h2>

<p>
    <a href="/account/signup">新規ユーザー登録</a>
</p>

<form action="/account/signin" method="POST">
    {% include "components/csrf_token.twig" %}

    {% include "components/error_list.twig" %}

    {% include "account/components/user_input.twig" %}

    <p>
        <input type="submit" value="ログイン" />
    </p>
</form>
{% endblock %}
