{% extends "layout.twig" %}

{% block title %}アカウント登録{% endblock %}

{% block content %}
<h2>アカウント登録</h2>

<p>
    <a href="/account/signin">ログイン</a>
</p>

<form action="/account/register" method="POST">
    {{ csrf_view_model.present | raw }}

    {{ error_list_view_model.present | raw }}

    {% include "account/components/user_input.twig" %}

    <p>
        <input type="submit" value="登録" />
    </p>
</form>
{% endblock %}
