{% extends "layout.twig" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<h2>ログイン</h2>

<form action="/account/signin" method="POST">
    <input type="hidden" name="_token" value="{{ _token|e }}" />

    {% include "components/error_list.twig" %}

    <table>
        <tbody>
            <tr>
                <th>ユーザID</th>
                <td>
                    <input type="text" name="user_name" value="{{ user_name|e }}" />
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>
                    <input type="password" name="password" />
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <input type="submit" value="ログイン" />
    </p>
</form>
{% endblock %}
