<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - TestBlog</title>
</head>
<body>
    <div id="header">
        <h1><a href="/">Test Blog</a></h1>
    </div>

    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
