<div id="statuses">
    {% if vm.hasStatuses %}
    {% for statusListItem in vm.statusListItems %}
        {{ statusListItem.present | raw }}
    {% endfor %}
    {% else %}
        <p>No statuses LOL</p>
    {% endif %}
</div>
