{% extends "layout.twig" %}

{% block title %}ホーム{% endblock %}

{% block content %}
<h2>ホーム</h2>

{{ error_list_view_model.present | raw }}

{{ statusPostForm.present | raw }}

{{ statusList.present | raw }}

{% endblock %}
