<table>
    <tbody>
        <tr>
            <th>ユーザID</th>
            <td>
                <input type="text" name="user_name" value="{{ user_name|e }}" />
            </td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>
                <input type="password" name="password" value="{{ password|e }}" />
            </td>
        </tr>
    </tbody>
</table>
